<!DOCTYPE html>
<html>
<head>
  <title>Bookmark</title>
<link href='http://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='bookmarks/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
<a href"#">Bookmark</a>
</div>
<%= yield %>

</body>
</html>
